{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-4">
        <div class="homePres">
            <h1 class="homeTxt">Bienvenue sur votre site gratuit d'annonce et d'entraide en ligne</h1>
{#            <div class="container h-100">#}
{#                <div class="d-flex justify-content-center h-100">#}
{#                    <div class="searchbar">#}
{#                        <input id="inputSearch" type="text" name="" placeholder="Search...">#}
{#                        <a href="#" class="search_icon"><i class="fa fa-search"></i></a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            {{ form_start(form) }}
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                        {{ form_row(form.inputSearch) }}
                        <button class="search_icon"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container" id="containerAllPost">
        <div class="column flex">
            {% for post in posts %}
                {% include 'components/card.html.twig' %}
            {% endfor %}
        </div>
    </div>
    <div class="pagination">
        {{ knp_pagination_render(posts) }}
    </div>
    </div>
{% endblock %}