
{% block body %}
    <div class="mt-4">
        <div class="jumbotron" style="text-align: center; margin-top: 3em">
            <h1>Bienvenue sur votre site d'annonce et d'entraide en ligne</h1>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="container" style="margin: auto">
            <div class="column flex">
                {% for post in posts %}
                    {% include 'components/card.html.twig' %}
                {% endfor %}
            </div>
        </div>
        <div class="pagination">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}