{% extends 'base.html.twig' %}
{% block title post.title %}

{% block body %}
    <div class="container mt-4">
        <div class="row" style="margin-top: 10em">
            <div class="col-md-8">
{#en attent image#}
            </div>
            <div class="col-md-4">
                <h1>{{ post.title }}</h1>
                <p>Posté le {{ post.createdAt.date }}</p>
                <a href="#" class="btn btn-primary">Contacter</a>
            </div>
        </div>
        <p>DESCRIPTION </p>
        <p>{{ post.description }}</p>

    </div>
{% endblock %}