{% extends 'base.html.twig' %}

{% block title %}Editer un utilisateur{% endblock %}

{% block body %}
    <div class="container mt-4 formContrainer">
        <a class="btn btnBack" href="{{ path('users_index') }}">Retour</a>
        <h1 class="h1Style">Editer un utilisateur</h1>
        {{ include('admin/users/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{#        {{ include('admin/users/_delete_form.html.twig') }}#}
    </div>
{% endblock %}
