{% extends 'base.html.twig' %}

{% block title %}Créer une annonce {% endblock %}

{% block body %}
    <div class="container mt-4 formContrainer">
    <h1 class="h1Style">Poster une annonce</h1>
    {{ include('back_office/posts/_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}

