{% extends 'base.html.twig' %}


{% block body %}
    <div class="container mt-4">
        <h1 class="h1Style">Mes annonces</h1>

        {% for post in posts %}
            <div class="card text-center" style="margin:2em;">
                <div class="card-header">
                    {{ post.title }}
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">{{post.description}}</p>
                    <a href="{{ path('edit_post', {id: post.id}) }}" class="btn btnEdit">Modifier</a>
                </div>
                <div class="card-footer text-muted">
                    posté le {{ post.createdAt.date }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}