{% extends 'base.html.twig' %}

{% block title %}Devenir Membre {% endblock %}

{% block body %}
    <div class="container mt-4" style="width: 30em">
        <h1 class="h1Style">Devenir Membre</h1>
    {{ include('admin/users/_form.html.twig') }}
    </div>
{% endblock %}