{% extends 'base.html.twig' %}

{% block title %}Devenir Membre {% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 style="margin-top: 2em">Créer un compte</h1>
    </div>

    {{ include('back_office/users/_form.html.twig') }}

{#    <a href="{{ path('users_index') }}">back to list</a>#}
{% endblock %}