{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 style="margin-top: 2em">Créer un utilisateur</h1>

        {{ include('back_office/users/_form.html.twig') }}

        <a href="{{ path('users_index') }}">Retour</a>
    </div>
{% endblock %}
